[2015-03-11 20:49] luckymike opened #4 "Batali resolution fails with a single cookbook"
With 1 cookbook in the Batali file:
[code]
I get the following error:
[code]
With a second cookbook defined:
[code]
It works:
[code]

[2015-03-11 20:51] chrisroberts commented on #4
Need to add checks on collapsible items. Some what related commit cleaning up the same thing: https://github.com/hw-labs/batali/commit/ef9693fa9f95622fbd9984b4b4c83f4bea71ee53

[2015-03-11 22:30] chrisroberts opened #5 "Add color coding on solution output"
When resolve is updating an existing manifest, color new entries green and updated entries yellow when solution is output to screen

[2015-03-12 17:06] chrisroberts commented on #4
Fixed in v0.1.6

[2015-03-12 17:06] chrisroberts commented on #5
Added in v0.1.6

[2015-03-12 17:06] #5 closed

[2015-03-13 21:37] luckymike commented on #4
I'm still having failures with v0.1.8:
[code]

[2015-03-13 22:28] chrisroberts commented on #4
Updated how the data is structured when reading in the file to force expected type. Fix is available in v0.1.10

[2015-03-13 22:28] #4 closed

[2015-03-13 22:38] chrisroberts opened #6 "Add metadata shortcut"
Allow using a `metadata` entry within the `Batali` file to represent:

[code]

[2015-03-13 22:39] chrisroberts opened #7 "Complete restrict functionality"

[2015-03-13 22:40] chrisroberts opened #8 "Complete group functionality"
Finish the `group` implementation with `Batali` file

[2015-03-13 22:40] chrisroberts commented on #7
Finish the `restrict` functionality within `Batali` file

[2015-03-18 20:52] miah opened #9 "no metadata error isn't verbose"
bundle exec batali update -V
    [Batali]: Loading sources... error!
    [ERROR]: Reason - No such file or directory - No metadata file available to load!
    ERROR: Errno::ENOENT: No such file or directory - No metadata file available to load!

[2015-03-18 20:57] chrisroberts commented on #9
Hi! I haven't added in much for debug-ish output, so kicking on the verbosity flag is currently a little useless. I'll run through and start dropping things in to get some better feedback.

[2015-03-18 21:52] miah commented on #9
Ya, I manually modified my installed gem and just added '#{ path }' to the Error.

[2015-03-18 21:52] miah opened #10 "NoMethodError: undefined method `find_all' for nil:NilClass"
bundle exec batali resolve
    [Batali]: Loading sources... complete!
    ERROR: NoMethodError: undefined method `find_all' for nil:NilClass

[2015-03-18 21:53] luckymike commented on #10
Hey Miah, can you share your Batali file?

[2015-03-18 21:54] chrisroberts commented on #10
You can get the stacktrace dumped out using the `DEBUG=true` environment variable:

`DEBUG=true bundle exec batali resolve`

[2015-03-18 21:54] miah commented on #10
Oh, nice I will try that one =)

[2015-03-18 22:20] miah commented on #10
digging in.. https://gist.github.com/miah/4e9727626940642fa2ac

[2015-03-18 22:25] chrisroberts commented on #10
Right on! Let me dig through this a bit. I have an update pushed into `develop` on [grimoire](https://github.com/spox/grimoire) that will kick back when the unit bucket is empty and provide the name of the missing unit (cookbook). That will likely help track it a bit better.

[2015-03-19 20:08] chrisroberts commented on #9
Path is included in exception message (and more debug/verbose output has been added)

Thanks!

[2015-03-19 20:08] #9 closed

[2015-03-19 20:09] chrisroberts commented on #10
Will kick out exception with useful message when this state is encountered (empty unit bucket) instead of just assuming it has units.

Thanks!

[2015-03-19 20:09] #10 closed

[2015-03-19 20:14] chrisroberts commented on #7
Restrictions can be loaded from the Batali file. @calebhailey made the suggestion of swapping the key from `:to` to `:source` making it a bit more explicit. We _could_ do both, but that's just introducing cruft. Since it's not even documented yet, I think I'll make the switch now and use it going forward.

[2015-03-19 20:49] calebhailey commented on #7
\o/

[2015-03-19 22:52] chrisroberts opened #11 "Build in better scoring for single path resolution"
Current score keeper only adjusts the score of specific units within the manifest. Now that the PoC is working, lets adjust this so that we have a cascading effect where scores are based on highest version component value, with right hand side being weighted heavier than left hand side.

[2015-03-19 22:54] chrisroberts opened #12 "Add infrastructure manifest output"
Add UI output support to infrastructure manifest resolution.

[2015-03-19 22:55] chrisroberts opened #13 "Show unit removals on manifest output"

[2015-03-20 17:38] #7 closed

[2015-03-20 17:38] #13 closed

[2015-03-20 17:43] chrisroberts opened #14 "Provide guard on manifest file"
Add a simple guard on manifest file to alert of impending conversion from/to infrastructure resolution

[2015-03-23 18:31] chrisroberts commented on #12
v0.1.18

[2015-03-23 18:31] #12 closed

[2015-03-23 18:31] chrisroberts commented on #11
v0.1.18

[2015-03-23 18:31] #11 closed

[2015-03-25 13:40] chrisroberts commented on #6
https://github.com/hw-labs/batali/commit/457160e60251d5f522ee786ecae624666ba9210b

[2015-03-25 13:40] #6 closed

[2015-04-01 18:19] chrisroberts opened #18 "Include proxy support"
Add support for http_proxy and https_proxy

[2015-04-01 18:19] chrisroberts commented on #18
/cc @webframp

[2015-04-01 18:20] webframp commented on #18
watching :eyes:

[2015-04-01 19:56] chrisroberts commented on #18
Auto application of proxy settings from environment variable is now working. Need to include some simple spec coverage on `http_proxy`, `https_proxy` and none.

[2015-04-01 20:15] chrisroberts commented on #18
and :boom: first successful `SDD` style workflow!

[2015-04-01 20:15] #18 closed

[2015-04-02 13:06] chrisroberts opened #19 "Add least impact updates to infrastructure mode"
Provide the same type of update behavior available via single path resolution to restrict updates to only _required_ changes. This should be possible by building the world from the manifest, and then pulling units from the system only as constraints fail

[2015-04-02 19:53] chrisroberts opened #20 "Enable caching support on HTTP interactions"
Add support for caching responses implicitly on all requests

[2015-04-03 00:56] chrisroberts opened #21 "Prune infrastructure resolution"
When resolving for the infrastructure, the "world" is created via and additive only action based on constraints defined within the Batali file and it's dependencies. This should be the first step with a second step subsequently pruning all units added via dependency units that are outside the explicit constraint scope. This will help where cookbooks only define a dependency with no constraint, thu

[2015-04-06 13:18] chrisroberts commented on #14
Prompt added on type change override

[2015-04-06 13:18] #14 closed

[2015-04-06 14:12] chrisroberts opened #23 "Automatic infra cookbook discovery"
Provide optional flag to parse roles + environments to locate valid cookbooks. Search role run lists and environment cookbook constraints. This will make it easier to set constraints in single location and keep consistency.

[2015-04-09 21:12] chrisroberts opened #24 "Fix cache paths on windows"

[2015-04-17 15:58] chrisroberts opened #25 "Auto detect manifest style on install"
The install command currently requires the flag to be set indicating infrastructure style manifest is in use. Since we now flag the manifest itself, this should not be required and can be autodetected from the manifest itself.

[2015-04-25 22:38] cwjohnston opened #26 "Batali fails to detect dependencies when they are added in a loop"
e.g. of the dependencies defined for the 'alice' cookbook [here](https://github.com/cwjohnston/chef-alice/blob/6f8e8a96db520fba7bc44ac3ae6630f65c24c5a5/metadata.rb#L8-L10), the manifest lists only "runit":

Batali file from cookbook which wraps 'alice':
[code]

batali.manifest of same
[code]

[2015-04-25 22:52] cwjohnston opened #27 "Batali fails to resolve dependencies when encountering a candidate cookbook version whose dependencies cannot be resolved"
Given a Batali file such as this one:
[code]

Batali will fail to resolve the specified dependencies:
[code]

I belive this is happening because universe.json lists a version of "varnish" (1.0.0) which lists an unsatisfiable dependency on "disable_ipv6".

[2015-04-26 13:52] chrisroberts commented on #26
Nice find. I was being lazy and only partially parsing the files, which led to missing dynamically defined `depends`. Now performing full file parse on `metadata.rb` files which fixes this issue.

[2015-04-26 13:57] chrisroberts commented on #27
:100: Great edge case. The fix for this was applied within the solver library here: https://github.com/spox/grimoire/commit/ac4b9235f041f2c9dd5214f5c0f1fd67a19a7fd6

This also highlighted the same situation arising when running an infrastructure style resolution and a dependency is requested for a non-existent cookbook. Added in a fix for this as well which just drops the version and its dep chain

[2015-04-26 14:07] chrisroberts opened #28 "Better resolve output for modified items within manifest"
Properly color updates and display _all_ information diffs. This should include commit sha for git sources and site info for remote site sources.

[2015-04-26 14:19] cwjohnston commented on #27
![clapping](http://media2.giphy.com/media/z1FzPhvrIZXTa/giphy.gif)

[2015-04-27 00:21] chrisroberts commented on #28
Output updated to include source diff meta data if available

[2015-04-27 00:21] #28 closed

[2015-05-15 15:36] cwjohnston opened #29 "Batali should honor `chefignore` files"
It seems batali does not currently honor the contents of `chefignore` files so, as a result, I find that I periodically wind up with extra copies of things like `.kitchen` directories and `cookbooks` directories when I have defined a cookbook by providing a local directory path.

[2015-05-21 17:09] gregkare opened #30 "Casing between Batali and batali.manifest"
We're switching from Librarian-Chef to Batali, so far the only nitpick I have is with the naming of the files: `Batali` with an uppercase b and `batali.manifest` with a lowercase b.

Is there a reason I'm missing behind this?

Thanks :)

[2015-06-04 22:24] chrisroberts commented on #30
Hi. I guess the biggest reason is that Batali isn't Librarian! Outside of that, it was just a personal preference when building the tool.

Cheers!

[2015-06-04 22:24] #30 closed

[2015-06-04 22:27] chrisroberts commented on #27
This update was released in the supporting library.

[2015-06-04 22:27] #27 closed

[2015-06-04 22:29] chrisroberts commented on #26
This fix was released 0.2.10

[2015-06-04 22:29] #26 closed

[2015-06-04 22:30] chrisroberts commented on #24
Released in 0.2.10

[2015-06-04 22:30] #24 closed

[2015-06-04 22:30] chrisroberts commented on #21
Released

[2015-06-04 22:30] #21 closed

[2015-06-04 22:33] chrisroberts commented on #20
Released in 0.2.10

[2015-06-04 22:33] #20 closed

[2015-06-11 18:44] chrisroberts commented on #23
Implemented via #33

[2015-06-11 18:44] #23 closed

[2015-06-11 20:18] chrisroberts commented on #25
released

[2015-06-11 20:18] #25 closed

[2015-06-11 20:19] chrisroberts commented on #29
released

[2015-06-11 20:19] #29 closed

[2015-06-13 00:53] chrisroberts opened #34 "Chef server source"
Port the code used in `batali-infuse` into batali proper that pulls cookbook information from the chef server. I'm guessing this will be an opt-in style thing since we don't want to have the chef gem dep, but we could still make the feature available and just notify the user of needing to include it within their environment/bundle.

[2015-06-15 17:28] chrisroberts opened #35 "Default tmp store path"
Allow simple modification of tmp store path to allow path outside home directory

[2015-06-19 13:33] chrisroberts commented on #34
Implemented via #36 and released.

[2015-06-19 13:33] #34 closed

[2015-06-25 22:25] phoolish opened #37 "Git private repo error"
Is there additional configuration necessary to resolve private git repositories?

Batali file:
[code]

Output from batali resolve:
[code]

[2015-06-25 22:28] chrisroberts commented on #37
Hi! Private git repos will need a different syntax:

[code]
or
[code]

[2015-06-25 22:35] phoolish commented on #37
Thanks for the fast response!

Hmm, it did resolve this time, but I had to enter a user/pass and requires generating a token (MFA enabled account) and reprompts for all dependencies.

Is there no way to use an ssh_key config or an ENV value?

[2015-06-25 22:40] luckymike commented on #37
It's Ruby, so you should be able to do an ENV.fetch(key)

[2015-06-25 22:47] phoolish commented on #37
@luckymike could elaborate?

[2015-06-25 22:51] luckymike commented on #37
`ENV.fetch('foo')` will return the ENV variable 'foo', so you can use that within the config to return an ENV variable.

[2015-06-25 23:03] phoolish commented on #37
Sorry, I should have been more specific.  I know how to return ENV var into a ruby file.  Do you then set the user/pass in the Batali file?

[2015-06-25 23:10] phoolish commented on #37
@luckymike Went way of track of the original question.  I think I've sorted it out.  Thanks for the patience.

[2015-06-25 23:10] #37 closed

[2015-06-29 17:25] chrisroberts opened #38 "Add display command"
Add `display` command to provide manifest information:

For full listing:
[code]

For specific listing:
[code]

In infra mode, let version informations be indented under name

[2015-06-30 20:37] chrisroberts commented on #38
Released in 0.2.16

[2015-06-30 20:37] #38 closed

[2015-07-01 15:36] chrisroberts opened #40 "Output warnings on unsupported keywords"
The Batali file does not care if unsupported keywords are used within the `Batali` file. This is great unless you have a typo or are using the wrong keyword (like `site` instead of `source`). Unsupported keywords should generate a warning output to ensure user is aware of the keyword.

[2015-07-02 00:47] chrisroberts commented on #40
Released.

[2015-07-02 00:47] #40 closed

[2015-07-27 19:25] chrisroberts opened #42 "Allow offline usage when manifest available"
In test tooling integrations, allow caching the manifest to fall back on when offline.

[2015-08-11 13:16] cwjohnston opened #45 "Using metadata keyword generates machine-specific path in batali.manifest"
I recently tried replacing this:
[code]
with use of the `metadata` keyword:
[code]

As a result, the relevant `source` section of my batali.manifest has changed from:
[code]
to
[code]

As this fully qualified path won't work outside my laptop, this feels like a bug. Thoughts?

[2015-09-08 14:02] chrisroberts opened #48 "Corrupted asset in cache causes failure"
When a bad asset is stored within the cache subsequent usage of that asset causes failure. Add detection of bad asset and force removal + retry loop before dumping error.

[2015-09-08 14:03] chrisroberts opened #49 "Add cache related helper actions"
Provide user commands for direct pruning and full scrub of local cache files.

[2015-09-22 17:54] #49 closed

[2015-09-22 17:54] #48 closed

[2015-09-22 17:55] #45 closed

[2015-09-23 17:52] cwjohnston opened #52 "Support `path` specification for git sources"
librarian-chef supports a `path` specification for git sources, so that we can grab a cookbook from a subdirectory of the target repository, e.g.:

[code]

Currently batali seems to trip on this, treating the source as a local path:

[code]

[2015-09-23 17:54] chrisroberts commented on #52
Need to make source check a bit less lazy for this (likely just an update to the ordering keys are checked) and then apply optional path on install copy from unpacked asset.

[2015-09-24 22:48] chrisroberts commented on #52
Released in 0.2.26

[2015-09-24 22:48] #52 closed

[2015-10-21 03:28] luckymike opened #54 "Defining path does not affect installed cookbook"
Setting the `:path` flag in the Batali file correctly allows cookbook resolution for a cookbook that is not in the root directory of the repo, however, the installed artifact contains the full repo contents rather than just the cookbook, e.g.:

[code]

This is a problem because damaging files (roles, environments, etc.) could be included in the top level and installed accidentally via `knife uploa

[2015-10-21 13:12] chrisroberts commented on #54
Fixed as of 0.2.28

[2015-10-21 13:12] #54 closed

[2015-11-06 23:17] chrisroberts opened #57 "Informational pruning messages"
If a unit is defined within the base requirement list and is pruned due to failed constraint satisfaction, an output to the user should be provided. Once the solution set has been defined, validate all items within the base requirement list exist within the solution and generate warn/error if not found.

[2015-12-08 15:56] apollocatlin opened #59 "Add vendor option"
A good berkshelf feature preventing me from starting to use bitali is the option to "vendor" the cookbooks and output them to a declared path.

I am specifically am looking to integrate this with our packer workflow where we run chef-solo in a vm, but resolve the cookbooks outside of the vm prior to bootstrapping then upload the cookbooks.

[2015-12-08 16:28] chrisroberts commented on #59
Hi! This feature exists in batali as the `install` command. It accepts a `--path` option for the destination of the cookbooks to be installed. By default this is `./cookbooks` but can be modified via the `--path` option. For example, to install them to the vendor directory:

[code]
or to a cookbooks subdirectory within vendor:

[code]

Cheers!

[2015-12-08 16:28] #59 closed

[2015-12-08 16:49] apollocatlin commented on #59
Awesome thanks man.

[2015-12-11 21:35] kenny-evitt opened #60 "zlib error "invalid distance too far back" unzipping cookbook asset downloaded from Chef Supermarket"
[code]

I added the following line:

[code]

before [this line]; the output with that change:

[code]

I added this line:

[code]

at the beginning of the same `asset` method as the above change, i.e. after [this line](https://github.com/hw-labs/batali/blob/b0af0815b2bfd110c6fef15205a0fa6dc1c1f260/lib/batali/source/site.rb#L57).

The output of that change was `Asset url: https://supermarket.chef.i

[2015-12-11 21:46] #60 closed

[2015-12-14 14:31] kenny-evitt opened #62 "Dependency cookbooks aren't being extracted by `install` command on Windows"
I've got a Chef organization repo and its *Batali* file contains only the following:

[code]

Running the `resolve` command produces a *batali.manifest* that seems correct:

[code]

With the changes for #61, running `install` I get a sub-directory *myapp* under the *cookbooks* directory but instead of sub-directories for the dependency cookbooks I just see the 'tar.gz' files for those cookbooks.

[2015-12-14 15:29] chrisroberts commented on #62
Just to confirm the behavior, would you run:

[code]
and then run the install again to ensure that the issue isn't resulting from the state of the local cache. Thanks!

[2015-12-14 16:53] kenny-evitt commented on #62
@chrisroberts I was, probably, doing the same thing as `batali cache --scrub` – I was deleting the contents of the *~/.batali/cache* sub-directories *git* and *site*.

But I ran `chef exec batali cache --scrub` and then `chef exec batali install` again.

Now I don't see anything under my org-repo *cookbooks* sub-directory. And I'm getting the same error as in #60.

I compared the *asset* file in t

[2015-12-14 17:05] chrisroberts commented on #62
Can you properly unpack the file that is located within the entitystore?

[2015-12-14 17:05] kenny-evitt commented on #62
@chrisroberts Yes.

[2015-12-14 17:44] chrisroberts commented on #62
@kenny-evitt could you point your bundle at the branch on that PR (#63 - `fix/windows-caching`) and see if that resolves things. May need to re-scrub your cache as well. Thanks!

[2015-12-14 18:43] kenny-evitt commented on #62
@chrisroberts That helped! But now I've got a new error. It seems like the random sub-directory for the *asset* files are being created as read-only.

I commented out the line in *site.rb* that deletes the *asset* files but I think doing so results in the unexpected behavior I originally reported for this issue – the tar-gz files (i.e. the *asset* files) are being copied to my org repo's *cookbook

[2015-12-14 19:00] chrisroberts commented on #62
Did you scrub the cache prior to running with the `:mode` change? It won't be applied if the directory is already there. Failing that, might need to do an explicit `File.chmod` to set it as expected.

[2015-12-14 19:55] kenny-evitt commented on #62
@chrisroberts I was manually deleting the *cache* directory and it still wasn't working. `FileUtils.chmod` also does not seem to be working.

I wonder if running everything with `chef exec ...` might be part of the problem. Troubleshooting Chef on Windows is dispiriting.

[2015-12-14 20:06] kenny-evitt commented on #62
A similar issue reported for a Ruby file upload library:

 - [Permission denied @ unlink_internal · Issue #133 · refile/refile](https://github.com/refile/refile/issues/133)

[2015-12-14 20:12] chrisroberts commented on #62
Is the parent directory of the cache on a networked file system?

[2015-12-14 20:18] kenny-evitt commented on #62
@chrisroberts Yeah. That could certainly be the culprit. I noticed that some other directories/files on the same filesystem (accessed via a 'mapped drive' pointing to the relevant 'network share') have the same read-only property set.

I'm working on a workaround that I don't expect would make sense to merge – the idea being that I'll tweak the code at the end of the `asset` method in *site.rb* to

[2015-12-14 20:28] kenny-evitt commented on #62
@chrisroberts My workaround seems to be working. I've got the dependency cookbook directories under my org-repo *cookbooks* sub-directory now. The change consists of removing [this line](https://github.com/hw-labs/batali/blob/fix/windows-caching/lib/batali/source/site.rb#L83) [I'm referencing the version as-of your recent PR #63]:

[code]

and changing [this line](https://github.com/hw-labs/batali

[2015-12-14 20:54] chrisroberts commented on #62
@kenny-evitt could you give one thing a quick try just to see if it may be an alternate solution. Updating this line:

https://github.com/hw-labs/batali/blob/fix/windows-caching/lib/batali/source/site.rb#L64

to be:

[code]

I've seen some references to the perms being weird if there is no extension provided on the file, and am wondering if that might be the problem. Either way, at least a fix is

[2015-12-14 21:55] kenny-evitt commented on #62
@chrisroberts I tried exactly that, tho I opted to use a dummy extension – `.blah` – instead. It didn't work.

I'm having other problems now tho, like paths containing a mix of standard Windows path separators and Unix-style separators (that are actually appropriate when running Chef under MinGW), so I'm going to try uninstalling and re-installing the Chef DK on my computer next.

I'll update this

[2015-12-14 21:59] chrisroberts commented on #62
@kenny-evitt awesome, thanks so much for all the feedback. I'll try and get the path separators swapped out to use the constant in `File` before you circle back around to this again. Cheers!

[2015-12-14 22:03] kenny-evitt commented on #62
@chrisroberts Sorry! I'm not having other problems with Batali – I'm having problems with Chef itself. I'll create a new issue if I run into any other problems with Batali. But, with my minor tweak, everything seems to be working perfectly.

[2015-12-14 22:04] chrisroberts commented on #62
Oh, okay great! I'll get the change integrated and released as soon as I can. Will update this issue and close once it's out. Thanks!

[2015-12-15 18:53] webframp commented on #62
Working for me. Also tested with chefdk with explicit: `gem build` and `gem install batali-0.3.5.gem --install-dir C:/opscode/chefdk/embedded/lib/ruby/gems/2.1.0 --no-user-install`

[code]

[code]

[2015-12-15 18:56] chrisroberts commented on #62
Fixed and released in v0.3.6. Thanks so much for the help @kenny-evitt and @webframp !

[2015-12-15 18:56] #62 closed

[2015-12-19 14:25] #57 closed

[2015-12-22 01:25] kenny-evitt opened #65 "Resolve dependency tree with different cookbooks that share the same name"
This may be a contrived issue – I really only ran into it because I have two cookbooks, one of which was forked from the other, and I replaced one dependency in the first cookbook with a dependency on another cookbook *but with the same name*.

For *cookbook1*, I had problems with [the Supermarket *postgresql* cookbook](https://github.com/hw-cookbooks/postgresql) so I replaced it with [this cookbo

[2015-12-23 23:05] kenny-evitt opened #66 "Support for cookbook dependencies with their own 'non-Supermarket' dependencies"
I've got a Chef infrastructure repo that depends on two private cookbooks *myapp* and *myappdev*.

The *myappdev* cookbook depends on *myapp*.

The *myapp* cookbook itself depends on a non-Supermarket *postgresql* cookbook – [this one](https://github.com/phlipper/chef-postgresql) by-the-way.

But when I run `chef exec batali resolve -V -D` from the root directory of the infrastructure repo, it see

[2015-12-23 23:05] kenny-evitt opened #67 "Create Gitter room for this repo"
[Gitter](https://gitter.im) is very nice little chat app that integrates rooms directly with GitHub repos (and orgs). I've found it to be a nice alternative venue for users to share transient or ephemeral content (like this issue), particularly questions, instead of submitting GitHub issues.

[2015-12-23 23:23] luckymike commented on #67
@kenny-evitt I've used gitter before, and while it's cool, my experience was that it's a lot of cognitive load (an entire additional chat app to attend to) for a single project's conversation. Feel free to open issues or visit us in #heavywater on Freenode in IRC. :)

Glad you're checking Batali out!

[2015-12-23 23:24] luckymike commented on #65
I don't think this is a contrived issue. We've discussed a similar use case internally. I think this is an enhancement we'll be adding in the near future.

[2015-12-23 23:26] luckymike commented on #66
I feel like what you've described should be possible, but I'm having trouble mapping it out exactly in my mind. Can you provide your Batali file (or at least the relevant portion)?

[2015-12-24 01:45] kenny-evitt commented on #66
@luckymike Sure

Here's the *Batali* file for the *myapp* cookbook:

[code]

The *Batali* file for the *myappdev* cookbook:

[code]

The *Batali* file for my infrastructure repo:

[code]

I can't just copy the line for the *postgresql* cookbook from my *myapp* cookbook *Batali* file; but that seems to be because a version and a source can't be combined. Here's the output of running `resolve` after

[2015-12-24 02:02] kenny-evitt commented on #66
The above does kind of work as a workaround, i.e. run `resolve`, note any `Failed to locate valid unit for ...` errors, find the un-located cookbook, and then add it as an explicit dependency with the non-default source info to the repo being resolved.

[2015-12-24 15:20] kenny-evitt commented on #67
@luckymike Understood

I just have never found an IRC client that doesn't make channels or rooms *look* so needlessly busy.

[2015-12-24 15:20] #67 closed

[2015-12-24 21:28] webframp commented on #67
@kenny-evitt https://www.irccloud.com is nice

[2015-12-25 03:25] kenny-evitt commented on #67
@webframp That does look really nice; thanks for the link.

[2015-12-25 17:07] kenny-evitt opened #68 "Support version constraints for Git-sourced cookbooks"
In [this (long) comment](https://github.com/hw-labs/batali/issues/66#issuecomment-167021573) I mentioned realizing that this kind of dependency specification in my *Batali* file doesn't work:

[code]

I'm guessing it's because there's no obvious way to download specific versions from a Git repo. But I think using tags matching certain typical patterns, like *0.1.2* or *v1.2.3*, would work nicely;

[2015-12-25 17:08] kenny-evitt commented on #68
The console output I got when running `batali resolve` for a repo with the dependency spec example above:

[code]

[2015-12-25 18:04] luckymike commented on #68
If the repo uses tags, you can use `ref`:
[code]
But that doesn't get you all the way to what you're after. The chef server source is designed to handle this scenario, as the server offers an endpoint to retrieve any available cookbook version.

It might make work to attempt to resolve a tag ref when a version is passed, as you suggest, but I'm not sure offhand how much complexity that adds.

[2015-12-28 13:32] chrisroberts commented on #66
Hi!

1. Constraint and source cannot be combined

  When an explicit source is defined for a cookbook (path or git) constraint information is already known. This is due to the entry only being able to define a single source, and the contents of that source will include the metadata file which provides the version at that particular source. In this scenario, even if constraint information were to b

[2015-12-28 13:32] #66 closed

[2015-12-28 13:44] chrisroberts commented on #68
Hi! Version constraints on cookbooks sourced via git is not supported and I don't plan on adding support for it. I have previously investigated this functionality but it is very fragile and slow. Batali ends up in a situation where it must impose assumptions about a repository and those assumptions may not be valid. Checks can be added for the assumptions but this in turn adds more complexity, com

[2015-12-28 13:44] #68 closed

[2015-12-28 13:48] chrisroberts commented on #65
Hi! So, #69 allows for single cookbooks to have multiple sources. However, in #66 I discussed a little around why having multiple implementations under a common name is not a good run time situation and would highly caution against it in practice. That said, #69 covers what you're looking for and should be released shortly.

Cheers!

[2015-12-28 18:18] #35 closed

[2015-12-29 18:30] chrisroberts commented on #65
Multiple source support for single cookbooks in infrastructure mode is available as of version 0.3.12. Thanks!

[2015-12-29 18:30] #65 closed

[2016-01-04 23:03] kenny-evitt commented on #66
@chrisroberts Thanks for the detailed response.

For [1], it seems reasonable (to me) that one could treat a custom or explicit source the same way as an 'implied source', e.g. capable of providing multiple versions just as 'a supermarket'. Git tags seem perfectly suited for providing versions. I get that it doesn't work this way now, but I don't (yet) understand why it couldn't work this way *pot

[2016-01-04 23:10] kenny-evitt commented on #68
@chrisroberts What about implementing a 'fake supermarket' provider that would map cookbook versions to Git repo tags?

Do you have or remember any details about what particularly was fragile or slow about this for Git sources? I also can't think of any assumptions that would need to be made about a repository that wouldn't also potentially apply to different versions of a cookbook in a Chef serve

[2016-01-04 23:12] chrisroberts opened #73 "Add support for Batali file merging"
Support merging "nested Batali" files with the same type of behavior implemented within berkshelf_ext (https://github.com/chrisroberts/berkshelf_ext#current-extensions). re: #68

[2016-01-04 23:15] kenny-evitt commented on #65
@chrisroberts Thanks!

[2016-01-04 23:16] luckymike commented on #66
@kenny-evitt even if you don't want to use Chef Server for node data, you probably should use Chef Server or a Supermarket server as an artifact store for your cookbooks. Batali can be used to perform the dependency resolution and vendoring on the client side from either a Chef or Supermarket server.

The git option should be understood as a source "build," and as in other software contexts, you m

[2016-01-05 19:38] chrisroberts opened #75 "Support basic auth"
Add support for optional HTTP basic auth

[2016-01-05 22:57] kenny-evitt commented on #66
@luckymike Thanks

[2016-03-10 15:32] zhelyan opened #76 "[ERROR]: Reason - uninitialized constant Chef::REST"
Fails when `chef_server` is used in the Batali file, looks like `'chef/rest'` isn't explicitly required?

[2016-03-10 15:34] chrisroberts commented on #76
Hi! Indeed, this was a breaking change that was introduced. I'll get a fix released shortly. Thanks for the report!

[2016-03-10 15:52] zhelyan opened #78 "[Suggestion] Add cookbook_path source"
So we use a monolithic chef-repo and I want to save myself the trouble of adding a CB to the Batali file every time one is created. I tried:

[code]

which failed with `[ERROR]: Reason - Failed to load configuration from file (/Users/zpanche/chef/chef-repo/Batali)`

Is it worth adding a new source , e.g. `cookbook_path` which defaults to the `cookbook_path` in the Chef config, then:

[code]
Which

[2016-03-10 15:54] chrisroberts opened #79 "Replace chef server rest usage"
The 12.7 version of chef introduced the server api to replace rest. Provide server api implementation and allow either to be used based on loaded version.

[2016-03-10 16:03] chrisroberts commented on #78
I would warn against using `cookbooks` as a directory to store tracked cookbooks as this is the default location `batali install` will install to. For automatically loading cookbooks in a directory you can easily just loop the directory contents:

[code]

This assumes your cookbook directory is the same name as your cookbook and that you use Ruby metadata files and not JSON. However, it should be

[2016-03-10 16:07] chrisroberts commented on #76
Fix released in v0.4.4.

Thanks for the report!

[2016-03-10 16:07] #76 closed

[2016-03-10 16:14] zhelyan commented on #78
Excellent, thanks! How does this work when used together with `chef_server`? Or, more generally, are sources searched in the order they are declared?

[2016-04-20 16:03] webframp opened #80 "Report failed dependency by name?"
It would be nice to know what transient dependency was causing the resolver failure from this message. not just `failed to generate path` through the universe. Any way to do that currently?

[code]

[2016-04-20 20:22] webframp opened #81 "Windows: TypeError: no implicit conversion of nil into String"
`batali resolve` is successful without issue but `install` fails with the TypeError. Purging the cache is an ok fix. Seems to be reproducible as needed.

[code]

[code]

[2016-04-20 20:36] webframp commented on #81
install with `DEBUG=true`:

[code]

[2016-04-21 16:52] chrisroberts commented on #81
Fixed in v0.4.10. Thanks!

[2016-04-21 16:52] #81 closed

[2016-04-28 19:05] chrisroberts opened #83 "Add source information"
On manifest display, show source information (site name or repo location + ref)

[2016-04-28 19:08] chrisroberts opened #84 "Relax http constraint"
Needs proxy testing and confirmation

[2016-05-03 21:11] gcymbalski opened #87 "Restricting resolution to environments requires a local 'environments' folder"
Which, arguably, is not a bad option to keep around- but when I set up Batali to resolve from a Chef server, it'd be nice if it could also use the remote environment.

Mostly filing an issue so that I can address this myself and get a nice PR in.

[2016-05-04 17:57] chrisroberts commented on #87
:+1: on this. I need to refactor the server api stuff (#79) so I'll try and address it then if you haven't already gotten to it :)

[2016-08-22 15:44] webframp opened #88 "Windows ENOENT filesystem failures with batali cache"
I was trying to run `batali install` and ran into this:

[code]

tried scrubbing the cache with `batali cache -s` and reinstalling but it fails with the same message on compat_resource. Anything further I can do to debug?

[2016-09-12 18:53] webframp opened #89 "The case of the missing DEBUG"
As discussed in irc, seen with batali 0.4.10 on Ubuntu 14.04 and Windows 10

[code]

and on Windows:

[code]

[2016-09-23 01:05] chrisroberts commented on #88
Are you still seeing this behavior? What's the version it's attempting to install?

[2016-09-23 01:08] #83 closed

[2016-09-23 01:18] chrisroberts commented on #78
I'm going to pass on adding the `cookbook_path

[2016-09-23 01:19] #78 closed

[2016-09-23 04:26] webframp commented on #88
I'll try to recreate and update you

[2016-10-28 15:44] webframp commented on #88
I tried changing the cache path in the .batali file and I don't get the same error. Although I do get an error maybe it's not directly related:

[code]

[2016-10-28 16:01] webframp commented on #89
Overrode the Gemfile to test out the changes,

Gemfile:
[code]
bundle install:
[code]
same commands as earlier.

Just to clarify what I think I would see:

https://github.com/spox/batali/blob/master/lib/batali/command/install.rb#L26

seems like it should report unit resolution and I should see the dep graph being walked when debug is enabled via `$env:DEBUG='true'`

so far testing with changes fro

[2016-11-01 18:34] webframp commented on #88
So, in other words yes still happening:
[code]

[2017-01-06 15:04] webframp commented on #88
Was reported by someone else recently, still a regular issue on Windows. Will try to debug this

[2017-01-12 19:09] webframp commented on #89
Should have checked here first. I knew this seemed familiar.

Digging around here didn't help me too much: https://github.com/spox/bogo-ui/blob/master/lib/bogo-ui/ui.rb#L113

[2017-01-13 04:39] webframp commented on #89
Can confirm from testing this is fixed when pointing at: https://github.com/spox/bogo-cli/tree/develop

[2017-01-14 15:35] chrisroberts commented on #89
Fixed via #91. Thanks for confirmation @webframp !

[2017-01-14 15:35] #89 closed

[2017-01-16 22:29] webframp commented on #88
Tested changes from #92 and here's the output:
[code]

Note that the two cookbooks mentioned are internal cookbooks, defined in the Batali file.

[2017-01-16 22:43] webframp commented on #88
Tested a few more times, same result although the directory is created:
[code]

[2017-02-14 21:50] webframp opened #93 ""index contains uncommitted changes" with git source"
Filing an issue for tracking this one since it's kind of strange.  Using latest code from #92 in an attempt to fix #88

Install fails for what appears to be a dirty git working tree for a git source, but the tree is actually clean.

[code]

Scrubbing cache and re-installing results in same error as #88 (which was pre-exisiting):
[code]

[2017-03-03 21:11] webframp commented on #93
Oddly ran into a similar thing again, in our CI environment:

[code]

[2017-03-06 15:39] webframp opened #94 "Unable to auto confirm scrub"
I read through https://github.com/spox/bogo-ui/blob/master/lib/bogo-ui/ui.rb and although it seems like this should work, it doesn't currently.

[code]
Was looking here: https://github.com/spox/bogo-ui/blob/master/lib/bogo-ui/ui.rb#L184 and https://github.com/spox/batali/blob/master/lib/batali/command/cache.rb#L20

What am I missing?

[2017-03-06 16:07] webframp commented on #88
I think this might just be hitting the windows filename MAX_PATH character limit, for example if I call `.Length` on the string:

[code]

[2017-03-06 22:23] webframp commented on #93
I don't know why the initial checkout of a repo would result in a git index out of sync with master but I've ran into two different scenarios. One were files are reported as deleted, and another where files are modifed.

Maybe something as dumb as this would be enough in the right place in: https://github.com/spox/batali/blob/master/lib/batali/git.rb#L19

[code]
[code]

[2017-03-08 20:20] webframp commented on #93
Happening pretty consistently for me in our CI environment, let me know what sort of good debug info I could provide if needed

[2017-03-09 14:08] webframp commented on #93
Here's a little more strangeness, same basic issue. First the error:

[code]

But then if I look at the actual repo in the cache it's fine:

[code]

Then if I simply `rm -fr /home/gitlab-runner/.batali` the next attempt gives this error:
[code]

A bit stumped I guess.

[2017-03-31 04:25] webframp commented on #93
Best guess at this point from a little testing: git repos where files have been committed with windows line endings are used as git sources in the `Batali` file and then batali is run on a linux system. Somewhere along the line the resulting git repo in the batali cache shows changes due to line ending differences.

If there was an option to always clobber the cache, or a --no-cache behavior, it m

[2017-03-31 15:46] webframp commented on #93
I forced `core.eol = lf` globally in a few places where I was seeing this but it didn't help

[2017-04-02 14:15] chrisroberts commented on #93
@webframp After some git digging, it looks like this might fix things up:

[code]

[2017-04-02 21:47] webframp commented on #93
Unfortunately I tried that and still get the issues.  Line endings with git are the most annoying cross platform issue. This page has more info too: http://adaptivepatchwork.com/2012/03/01/mind-the-end-of-your-line/

I still either get 'Your local changes to the following files would be overwritten by checkout' error, or I get the following, which seems related but looks like a different error:

[

[2017-04-03 20:42] webframp opened #96 "Warning with chef_server source"
Recording here for posterity, if I get time to look into this I'll try to send a PR

[code]

[2017-04-03 21:17] webframp commented on #96
Also on `batali install` this is the result:

[code]

[2017-04-04 14:38] webframp commented on #93
@chrisroberts I might have a scenario to recreate this, will contact you on irc to discuss

[2017-04-10 18:02] webframp commented on #93
Annoyingly, this does seem to be a line ending issue. Add a `.gitattributes` file to every git repo referenced by the `Batali` file "fixed" the issue. I just used a simple one with the following contents:

[code]

[2017-06-08 19:19] webframp opened #98 "Warnings with ruby 2.4.0"
[code]

Part of it is they unified Integer, so yay I guess.

* http://blog.bigbinary.com/2016/11/18/ruby-2-4-unifies-fixnum-and-bignum-into-integer.html
* https://www.ruby-lang.org/en/news/2016/12/25/ruby-2-4-0-released/

Will try to take a look and send a PR along if I can

[2017-07-18 06:46] universam1 commented on #88
Same issue here `batali update` errors out which seams to be a path length issue

[code]
Any workaround possible?
Thanks!

[2017-12-25 14:15] webframp opened #100 "Using artifactory source requires trailing '/'"
This is a minor issue I noticed when using a private supermarket provided by Artifactory.

Using

[code]

works fine, but this does not:

[code]

and returns the following error:

[code]

[2017-12-27 05:20] webframp opened #101 "Installing from artifactory source"
Just an issue for tracking, not sure how best to debug at this point:

With an artifactory private supermarket source:
[code]

[2017-12-28 16:35] #100 closed

[2017-12-28 16:56] chrisroberts commented on #101
Any chance you could send me an asset to have a look at? Looks like I need a license for artifactory to enable the addons.

[2017-12-29 05:17] webframp commented on #101
Yea, no problem. I can try to get the raw file and also include details on the chef private supermarket setup. If you can chat on gitter or irc sometime I can provide more details.

I use the Artifactory free trial license for testing stuff like this sometimes.

[2018-06-04 14:41] mg03 opened #102 "batali resolve - ERROR: Errno::ENOENT: No such file or directory"
hi chris

I have a directory for one project folder called chef-veda-logging with one site-cookbook in it

├── Batali
├── batali.manifest
├── how_to
└── site-cookbooks
    └── veda-logging
        ├── Batali
        ├── Berksfile
        ├── Berksfile.lock
        ├── CHANGELOG.md
        ├── LICENSE
        ├── README.md
        ├── Vagrant_test_setup.rb
        ├── attributes
        │   └── def

[2018-06-16 22:14] chrisroberts commented on #102
@mg03 can you provide the output from the resolve command with the `--debug` flag enabled. Are you sure it's coming from the remote cookbook and not something located in the `site-cookbooks` directory?

[2018-06-17 01:05] #88 closed

[2018-06-18 12:03] mg03 commented on #102
@chrisroberts : yup it was from remote cookbook which did not have a metadata.rb.  This is resolved, user error. Thanx

[2018-06-18 12:03] #102 closed

[2018-06-19 09:06] webframp commented on #101
Tested with latest release, here's the traceback:

[code]

[2018-06-19 09:17] webframp commented on #101
I think the zip warnings may be a red herring. With a little puts'ing around it looks like the path it's attempting to use doesn't exist. For example:
[code]

[2018-06-19 13:32] webframp commented on #101
The issue actually appears to be in how the artifactory api handles downloads. When it reaches here: https://github.com/spox/batali/blob/develop/lib/batali/source/site.rb#L67 to get asset files the response body is empty.

I'm still trying to recreate a test scenario consistently.

[2018-06-19 13:54] chrisroberts commented on #101
Is it perhaps returning a different redirect (like a 301 or something)?

[2018-06-19 21:02] webframp commented on #101
It absolutely is, seems to return 301 for redirects consistently

[2018-06-20 11:23] webframp commented on #101
Based off current develop, I added a `follow` like this:

[code]

which gets things further, but has another interesting error. Crashes with 3 identical tracebacks all with the following error:

[code]

[2018-06-27 18:45] sjtindell opened #104 "Different git tag refs for same cookbook creates non-unique cookbooks"
I still haven't tracked down exactly what is happening here, but I believe this is a use case for Batali and therefore a bug.

I have the following internal repos, names shortened
[code]

The Batali file has the following contents
[code]

And the batali-cookbook repo metdata file has the following contents, shortened
[code]

We create a tag in batali-cookbook for v0.0.1, then bump the metdata vers

[2018-06-27 22:28] sjtindell commented on #104
If we change lib/batali/git.rb
`self.ref = git.log.first.sha`
to
`self.ref = ref`

It works. This indicates a possible problem with threads trying to set the git log sha here via checkout and running into each other? Or perhaps the first sha in the log doesn't change at the right time?

Is there any possible negative side effect of using the ref, which in this case gets set to a tag e.g. v0.0.1 or

[2018-06-28 15:00] chrisroberts commented on #104
@sjtindell Hi and thanks for the report! I believe the modification in #105 will resolve the issue. If you are able, can you give it a spin and see if it fixes things up for you?

[2018-06-28 17:49] sjtindell commented on #104
Thanks Chris, I appreciate the timely response. But still seeing the same issue with the test repos I posted above.

[2018-06-28 18:47] sjtindell commented on #104
When I add the following to ref_dup in lib/batali/git.rb
[code]

I see the following on execution. The function is being called many times, and the two refs are correct on the first outputs from each thread, but then there are more calls and the threads are still getting the wrong ref.

[batali-test/batali-proj]-> rm -rf cookbooks; rm -rf ~/.batali; rm batali.manifest; batali resolve -I; batali in

[2018-06-28 20:28] sjtindell commented on #104
I created a PR to your fix branch, it appears to work if we use a class variable for the lock.

https://github.com/spox/batali/pull/106